<!DOCTYPE html>
<html>
<head>
	<title>Kazakh Guide</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<style type="text/css">h2{font-family: 'Garamond'}</style>
</head>

<body style="background-color: #00D5F2">
	<center style="margin: 0px; padding: 0px">

		<img src = "https://us.123rf.com/450wm/tomozina/tomozina1705/tomozina170500105/78364548-nature-of-east-kazakhstan-panorama-spring-green-steppe-and-mountains.jpg" height="150" style="width: 100%">
		<hr style="color: #FFEC2D; background-color: #FFEC2D; height: 2px; width: 60%;">

<!-- __________ -->
	<h2>Have a good trip, {{name}}!</h2>
<!-- __________ -->

	</center>
</body>
</html>